<nav class="toolbar toolbar-medium toolbar-vertical">
  <ul>
    <li>
      <a href="#" class="active">
        <span class="visually-hidden">messaggi</span>
        <div class="badge-wrapper">
          <span class="toolbar-badge"></span>
          <span class="visually-hidden">ci sono 42 nuovi messaggi da leggere</span>
        </div>
        <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-comment"></use></svg>
      </a>
    </li>
    <li>
      <div class="dropdown">
        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton-vert" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Azione">
          <span class="visually-hidden">immagini</span>
          <div class="badge-wrapper">
            <span class="toolbar-badge"></span>
            <span class="visually-hidden">ci sono 42 nuove immagini da visualizzare</span>
          </div>
          <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-camera"></use></svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-vert">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li><a class="dropdown-item list-item" href="#"><span>Azione 1</span></a></li>
              <li><a class="dropdown-item list-item" href="#"><span>Azione 2</span></a></li>
              <li><a class="dropdown-item list-item" href="#"><span>Azione 3</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="toolbar-divider" role="separator" aria-orientation="vertical"></li>
    <li>
      <a href="#">
        <span class="visually-hidden">privacy</span>
        <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-locked"></use></svg>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="visually-hidden">preferiti</span>
        <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-star-outline"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" class="disabled" disabled aria-disabled="true">
        <span class="visually-hidden">download</span>
        <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-download"></use></svg>
      </a>
    </li>
  </ul>
</nav>

<main class="container">
          <div class="col-12 col-lg-10">
            <div class="cmp-breadcrumbs" role="navigation">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb p-0" data-element="breadcrumb">
                  <li class="breadcrumb-item"><a href="homepage.html">Home</a><span class="separator">/</span></li>
                  <li class="breadcrumb-item active" aria-current="page">Area personale</li>
                </ol>
              </nav>
            </div>
            <div class="cmp-heading pb-3 pb-lg-4">
              <h1 class="title-xxxlarge">Ciao <span id="user-name"></h1>
            
              <p class="subtitle-small">CF: </p>
            
            

<script>
    netlifyIdentity.on("init", user => {
        if (user) {
            document.getElementById("user-name").textContent = user.user_metadata.full_name || "Utente";
            document.getElementById("user-box").style.display = "block";
        }
    });

    netlifyIdentity.on("login", user => {
        document.getElementById("user-name").textContent = user.user_metadata.full_name || "Utente";
        document.getElementById("user-box").style.display = "block";
    });

    netlifyIdentity.on("logout", () => {
        document.getElementById("user-box").style.display = "none";
    });
</script>
            
            
            </div>
          </div>
</main>
