<main class="container">
          <div class="col-12 col-lg-10">
            <div class="cmp-breadcrumbs" role="navigation">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb p-0" data-element="breadcrumb">
                  <li class="breadcrumb-item"><a href="homepage.html">Home</a><span class="separator">/</span></li>
                  <li class="breadcrumb-item active" aria-current="page">Area personale</li>
                </ol>
              </nav>
            </div>
            <div class="cmp-heading pb-3 pb-lg-4">
              <h1 class="title-xxxlarge">Ciao <span id="user-name"></h1>
            
              <p class="subtitle-small">CF: </p>
            
<ul class="nav nav-tabs nav-tabs-icon-text auto">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">
      <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-link"></use></svg>
      Tab 1
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-calendar"></use></svg>
      Tab 2
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-comment"></use></svg>
      Tab 3
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" tabindex="-1">
      <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close"></use></svg>
      Tab 4
    </a>
  </li>
</ul>            

<script>
    netlifyIdentity.on("init", user => {
        if (user) {
            document.getElementById("user-name").textContent = user.user_metadata.full_name || "Utente";
            document.getElementById("user-box").style.display = "block";
        }
    });

    netlifyIdentity.on("login", user => {
        document.getElementById("user-name").textContent = user.user_metadata.full_name || "Utente";
        document.getElementById("user-box").style.display = "block";
    });

    netlifyIdentity.on("logout", () => {
        document.getElementById("user-box").style.display = "none";
    });
</script>
            
            
            </div>
          </div>
</main>
